# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
.next/
out/

# Env
.env
.env*.local
!.env.example

# Prisma
packages/db/prisma/*.db

# Logs
*.log
npm-debug.log*
logs/

# Testing
coverage/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Docker volumes (local dev)
infra/docker/volumes/

# TypeScript
*.tsbuildinfo
